<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>MovieBook Search</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"><!-- load fontawesome -->
    <link rel="stylesheet" href="../../stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../../stylesheets/style.css">
    <style>
        body    { padding-top: 80px; }

        .review > div {
            display: inline-block;
        }

        .para {
            text-align: left;
            margin-left: 120px;
        }

        a > button {
            margin-left: 20px;
            margin-top: 20px;
        }
    </style>
    <script>
        $(document)
            .ready(function() {
                $('.ui.dropdown')
                    .dropdown();

                // fix menu when passed
                $('.masthead')
                    .visibility({
                        once: false,
                        onBottomPassed: function() {
                            $('.fixed.menu').transition('fade in');
                        },
                        onBottomPassedReverse: function() {
                            $('.fixed.menu').transition('fade out');
                        }
                    })
                ;

                // create sidebar and attach to menu open
                $('.ui.sidebar')
                    .sidebar('attach events', '.toc.item')
                ;

            })
        ;
    </script>
</head>
<body>

<nav class="navbar navbar-default">

    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">MovieBook</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/"> Movies <span class="sr-only">(current)</span></a></li>
                <li><a href="/artists"> Artists </a></li>
                <li><a href="/reviews"> Reviews </a></li>
                <li><a href="/action">Genre </a></li>
                <li><a href="/rank"> Rank </a></li>
            </ul>
            <form action='/result' method="post" class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" size="30" placeholder="Search movies or people here" name="searchContent">
                </div>
                <select name="searchType" size="1">
                    <option value="title" selected> title </option>
                    <option value="actors"> actors </option>
                    <option value="country"> country </option>
                    <option value="year"> year </option>
                    <option value="genres"> genres </option>
                </select>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <form action='/apisearch' method="post" class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" size="30" placeholder="Search movie details" name="searchContent">
                </div>
                <select name="searchType" size="1">
                    <option value="title" selected> title </option>
                    <option value="actors"> actors </option>
                    <option value="country"> country </option>
                    <option value="year"> year </option>
                    <option value="genres"> genres </option>
                </select>
                <button type="submit" class="btn btn-default">Search</button>
            </form>


        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <div class="well">

        <div class="review">

            <div class="para">
                <img width="300" height="200"  src="<%= movie["Poster"] %>">
                <p><a href="/movie/<%= movie["imdbID"].substring(4,9) %>"><strong>Name: </strong> <%= movie["Title"] %> </a></p>
                <p> <strong>Year: </strong> <%= movie["Year"] %> </p>
                <p> <strong>Rated: </strong> <%= movie["Rated"] %> </p>
                <p> <strong>Released Time: </strong> <%= movie["Released"] %> </p>
                <p> <strong>Runtime: </strong> <%= movie["Runtime"] %> </p>
                <p> <strong>Genre: </strong> <%= movie["Genre"] %> </p>
                <p> <strong>Director: </strong> <%= movie["Director"] %> </p>
                <p> <strong>Actors: </strong> <%= movie["Actors"] %> </p>
                <p> <strong>Country: </strong> <%= movie["Country"] %> </p>
                <p> <strong>Language: </strong> <%= movie["Language"] %> </p>
                <p> <strong>Awards: </strong> <%= movie["Awards"] %> </p>
                <p> <strong>imdbRating: </strong> <%= movie["imdbRating"] %> </p>
                <p>
                    <% movie["Ratings"].forEach(function (rate) {  %>
                        <li><%= rate["Source"] %> : <%= rate["Value"] %></li>
                    <% }) %>
                </p>
                <p> <strong>Plot Description: </strong> <%= movie["Plot"] %> </p>
            </div>

        </div>
    </div>
</div>

</body>
</html>



