<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>MovieBook</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/app.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js"></script>


</head>
<body>
<div id="mainpage" class="pusher">

    <div id="child" class="ui inverted vertical masthead segment" style="background-image: url("../../images/resultbackground.jpeg")">
    <div class="ui container">

        <div class="ui large secondary inverted pointing menu">


            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>
            <a class="active item" href="/">MovieBook</a>
            <a class="item">Movies</a>
            <div class="ui item inline dropdown">
                Genre
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item"><a style="color: inherit" href="/action">Action</a></div>
                    <div class="item"><a style="color: inherit" href="/comedy">Comedy</a></div>
                    <div class="item"><a style="color: inherit" href="/drama">Drama</a></div>
                    <div class="item"><a style="color: inherit" href="/thriller">Thriller</a></div>
                    <div class="item"><a style="color: inherit" href="/crime">Crime</a></div>
                    <div class="item"><a style="color: inherit" href="/horror">Horror</a></div>
                    <div class="item"><a style="color: inherit" href="/romance">Romance</a></div>
                    <div class="item"><a style="color: inherit" href="/documentary">Documentary</a></div>
                </div>
            </div>
            <div class="ui item inline dropdown">
                Rank
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item"><a style="color: inherit" href="/rank">All</a></div>
                    <div class="item"><a style="color: inherit" href="/imdb">IMDB</a></div>
                    <div class="item"><a style="color: inherit" href="/metacritic">Metacritic</a></div>
                    <div class="item"><a style="color: inherit" href="/rotten_tomatoes">Rotten Tomatoes</a></div>
                    <div class="item"><a style="color: inherit" href="/fandango">Fandango</a></div>
                </div>
            </div>




            <%if(!isLogin){%>
            <div class="right item">
                <a class="ui inverted button" href="/login">Log in</a>
                <a class="ui inverted button" href="/register">Sign up</a>
            </div>
            <%}else{%>
            <div class="right item">
                <div class="ui inline dropdown inverted button">
                    My Profile
                    <i class="small dropdown icon" style="color: inherit"></i>
                    <div class="menu">
                        <div class="item"><a style="color: inherit" href="/userpage/<%= userId %>">Homepage</a></div>
                        <div class="item">Likes</div>
                        <div class="item">Friends</div>
                    </div>
                </div>
                <a class="ui inverted button" href="/logout">Sign Out</a>
            </div>
            <% } %>

        </div>
    </div>

    <div class="ui center aligned text container" >
        <h1 class="ui inverted header" style="font-weight: bold; margin-bottom: 10%; margin-top: 10%">
            <img src="https://static1.squarespace.com/static/58e7ac565016e1384d799887/t/58e7acb9725e255284fd0dbf/1511366743027/?format=1500w" style="background: transparent;">
            MovieBook
        </h1>
    </div>


    <div class="row" style="text-align: center; padding-left: 14.5%">
        <div class="ui grid" style="position: absolute; bottom: 15px;">
            <div class="center ui menu" style=" background-color: transparent;">
                <form action='/result' method="post" class="ui item form" role="search">
                    <div class="ui item">
                        <input type="text" class="ui form"   style="width: 300px" placeholder="Database Search" name="searchContent">
                    </div>
                    <select class="override inverted ui dropdown" name="searchType" style="width: 50px" >
                        <option value="title" selected> title </option>
                        <option value="actors"> actors </option>
                        <option value="country"> country </option>
                        <option value="year"> year </option>
                        <option value="genres"> genres </option>
                    </select>
                    <button class="ui inverted item button" type="submit">
                        <i class="large search icon inverted"></i>
                    </button>
                </form>
                <form action='/apisearch' method="post" class="ui item form" style="padding-left: 70px" role="search">
                    <div class="ui item">
                        <input type="text" class="ui form" style="width: 300px" placeholder="API Search" name="searchContent">
                    </div>
                    <select class="override inverted ui dropdown" name="searchType" style="width: 50px">
                        <option value="title" selected> title </option>
                        <option value="id"> id </option>
                    </select>
                    <button class="ui inverted item button" type="submit">
                        <i class="large search icon inverted"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="two column" style="margin-top: 70px; margin-bottom: 70px">
    <div class="ui container align-middle segment" style="   background-color: rgba(203,208,161,0.21);">
        <h1 style="text-align: center; letter-spacing: 1px; font-style: oblique; font-feature-settings: on; color: #022a50" class="ui header">
            May the Genres satisfy you.<br>
        </h1>
    </div>
</div>

<div class="center aligned row" style="margin-bottom: 40px; ">
    <h1 class="ui horizontal header divider">
        <a href="#" style="color: #011d37;"><i class="bar chart icon"></i>Different Geners</a>
    </h1>
</div>

<div class="row" style="width: 100%; padding-left: 12%">
    <div class="ui four column grid" style="">
        <div class="ui segment card column" style="height: 240px;  padding-bottom: 0px;  margin:10px; width: 20%; text-align: center; transition: all 0.25s ease-in; margin: 1 1px; display: block; color: black;  border: 1px solid #dae8e7; background-color: white;">
            <div class="image" style="height: 80%; ">
                <img src="https://images.pexels.com/photos/267961/pexels-photo-267961.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb" alt="">
            </div>
            <div class=" content" style="text-align: center">
                <h5><a href="/action">ACTION</a></h5>
            </div>
        </div>
        <div class="ui segment card column" style="height: 240px;  padding-bottom: 0px;margin: 10px;  width: 20%; text-align: center; transition: all 0.25s ease-in; margin: 1 1px; display: block; color: black;  border: 1px solid #dae8e7; background-color: white;">
            <div class="image" style="height: 80%">
                <img src="https://images.pexels.com/photos/164854/pexels-photo-164854.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb"
                     alt="">
            </div>
            <div class="content" style="text-align: center">
                <h5><a href="/comedy">COMEDY</a></h5>
            </div>
        </div>
        <div class="ui segment card column" style="height: 240px;  padding-bottom: 0px;margin: 10px;  width: 20%; text-align: center; transition: all 0.25s ease-in; margin: 1 1px; display: block; color: black;  border: 1px solid #dae8e7; background-color: white;">
            <div class="image" style="height: 80%">
                <img src="https://fastlearningschool.com/wp-content/uploads/acting.jpg" alt="">
            </div>
            <div class="content" style="text-align: center">
                <h5><a href="/drama">DRAMA</a></h5>
            </div>
        </div>
        <div class="ui segment card column" style="height: 240px;  padding-bottom: 0px;margin: 10px;  width: 20%; text-align: center; transition: all 0.25s ease-in; margin: 1 1px; display: block; color: black;  border: 1px solid #dae8e7; background-color: white;">
            <div class="image" style="height: 80%">
                <img src="https://images.pexels.com/photos/673862/pexels-photo-673862.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb"
                     alt="">
            </div>
            <div class="content" style="text-align: center">
                <h5><a href="thriller">THRILLER</a></h5>
            </div>
        </div>
        <div class="ui segment card column" style="height: 240px;  padding-bottom: 0px;margin: 10px;  width: 20%; text-align: center; transition: all 0.25s ease-in; margin: 1 1px; display: block; color: black;  border: 1px solid #dae8e7; background-color: white;">
            <div class="image" style="height: 80%">
                <img src="https://images.pexels.com/photos/64699/pexels-photo-64699.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb" alt="">
            </div>
            <div class="content" style="text-align: center">
                <h5><a href="/crime">CRIME</a></h5>
            </div>
        </div>
        <div class="ui segment card column" style="height: 240px;  padding-bottom: 0px;margin: 10px;  width: 20%; text-align: center; transition: all 0.25s ease-in; margin: 1 1px; display: block; color: black;  border: 1px solid #dae8e7; background-color: white;">
            <div class="image" style="height: 80%">
                <img src="https://images.pexels.com/photos/534590/pexels-photo-534590.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb" alt="">
            </div>
            <div class="content" style="text-align: center">
                <h5><a href="/horror">HORROR</a></h5>
            </div>
        </div>
        <div class="ui segment card column" style="height: 240px;  padding-bottom: 0px;margin: 10px;  width: 20%; text-align: center; transition: all 0.25s ease-in; margin: 1 1px; display: block; color: black;  border: 1px solid #dae8e7; background-color: white;">
            <div class="image" style="height: 80%">
                <img height="80%" src="https://images.pexels.com/photos/41068/pexels-photo-41068.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb" alt="">
            </div>
            <div class="content" style="text-align: center">
                <h5><a href="/romance">ROMANCE</a></h5>
            </div>
        </div>
        <div class="ui segment card column" style="height: 240px;  padding-bottom: 0px;margin: 10px;  width: 20%; text-align: center; transition: all 0.25s ease-in; margin: 1 1px; display: block; color: black;  border: 1px solid #dae8e7; background-color: white;">
            <div class="image" style="height: 80%">
                <img src="https://images.unsplash.com/photo-1506370612293-360919ece3d9?auto=format&fit=crop&w=1640&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="">
            </div>
            <div class="content" style="text-align: center">
                <h5><a href="/documentary">DOCUMENTARY</a></h5>
            </div>
        </div>
    </div>
</div>

<div class="two column" style="margin-top: 70px; margin-bottom: 70px">
    <div class="ui container align-middle segment" style="   background-color: rgba(203,208,161,0.21);">
        <h1 style="text-align: center; letter-spacing: 1px; font-style: oblique; font-feature-settings: on; color: #022a50" class="ui header">
            RANK LIST<br>
        </h1>
    </div>
</div>

<div class="ui grid center" style="padding-left: 16.5%; padding-right: 12%; margin-top: 50px">
<% for(var i = 0; i < movies.length; i++){ %>
<div class="ui five wide column">
    <div class="container">
        <div class="ui card" style="height: 17em">
            <div id="rate" class="content">
                <div class="header" style="text-align: center">
                    No.<%= i + 1 %>  <a href="/movie/<%=movies[i]["id"]%>"><%=movies[i]["Title"].replace(/[ÂÃ]/g, "").replace(/\?[\W]/g, "") %></a>
                </div>
                <div class="description" style="text-align: justify;">
                    <li> <strong>Year: </strong> <%= movies[i]["title_year"] %> </li>
                    <li> <strong>Duration: </strong> <%= movies[i]["duration"] %> min </li>
                    <li> <strong>Genre: </strong> <%= movies[i]["genres"] %> </li>
                    <p>
                    <li> <strong>Actors:</strong>
                        <%= movies[i]["actor_1_name"].replace("?", "e") %>, <%= movies[i]["actor_2_name"].replace("?", "e") %>, <%= movies[i]["actor_3_name"].replace("?", "e") %> </li>
                    </p>
                    <li> <strong>Country: </strong> <%= movies[i]["country"] %> </li>
                </div>
            </div>
            <div id="rate" class="ui two bottom attached buttons">
                <div class="ui button" >
                    <i class="film icon"></i>
                    <a href=<%= movies[i]["movie_imdb_link"] %>>IMDB</a>
                </div>
                <div class="ui primary button" >
                    <i class="play icon"></i>
                    <a href="/movie/<%=movies[i]["id"]%>" style="color: white">Detials</a>
                </div>
            </div>

            <div class="ui popup">
                <div class="header">Rate: <%= movies[i]["Avr_rate"].toString().substring(0,4) %> / 10.0 </div>
                <div class="ui star rating" data-rating="<%= Math.round(movies[i]["Avr_rate"]/10*5) %>"></div>
            </div>
        </div>




    </div>

</div>
<% } %>
</div>


<!--<div class="ui container" style="margin-top: 5%">-->
    <!--<div>-->
        <!--<% for(var i = 0; i < movies.length; i++){ %>-->
        <!--<div class="container" style="margin-bottom: 2%">-->
            <!--<div class="ui segment">-->
                <!--<p> <strong>Name: </strong> <%= movies[i]["Title"].replace(/[ÂÃ]/g, "").replace(/\?[\W]/g, "") %> </p>-->
                <!--<p> <strong>Genre: </strong> <%= movies[i]["genres"] %> </p>-->
                <!--<p> <li> Average Rate: <%= movies[i]["Avr_rate"].toString().substring(0, 4) %>/10.0 </li> </p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<% } %>-->
    <!--</div>-->
<!--</div>-->




<script>
    $('.activating.element')
        .popup()
    ;

    $('#rate.content')
        .popup({
            inline: true
        })
    ;

    $('#rate.image')
        .popup({
            inline: true
        })
    ;

    $('#rate.ui.two.bottom.attached.buttons')
        .popup({
            inline: true
        })
    ;


    $('.ui.rating')
        .rating({
            maxRating: 5
        })
    ;

    $('.ui.dropdown')
        .dropdown();
</script>
</body>
</html>


