
<html>
<head>

    <title>MovieBook</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title> MovieBook </title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/app.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js"></script>

    <script>
        $(document)
            .ready(function() {
                $('.ui.dropdown')
                    .dropdown();

                // fix menu when passed
                $('.masthead')
                    .visibility({
                        once: false,
                        onBottomPassed: function() {
                            $('.fixed.menu').transition('fade in');
                        },
                        onBottomPassedReverse: function() {
                            $('.fixed.menu').transition('fade out');
                        }
                    })
                ;

                // create sidebar and attach to menu open
                $('.ui.sidebar')
                    .sidebar('attach events', '.toc.item')
                ;

            })
        ;
    </script>
</head>

<body>

<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
    <div class="ui container">
        <div class="active ui side" style="position: initial; top: 10px; left: 5px; z-index: auto;">
            <img height=50 class="ui image" src="https://static1.squarespace.com/static/58e7ac565016e1384d799887/t/58e7acb9725e255284fd0dbf/1511366743027/?format=1500w">
        </div>
        <a class="item">

        </a>
        <a class="active item" href="/">Home</a>
        <a class="item">Movies</a>
        <a class="item">Genre</a>
        <div class="ui item inline dropdown">
            Rank
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item"><a style="color: inherit" href="/rank">All</a></div>
                <div class="item"><a style="color: inherit" href="/imdb">IMDB</a></div>
                <div class="item"><a style="color: inherit" href="/metacritic">Metacritic</a></div>
                <div class="item"><a style="color: inherit" href="/rotten_tomatoes">Rotten Tomatoes</a></div>
                <div class="item"><a style="color: inherit" href="/fandango">Fandango</a></div>
            </div>
        </div>
        <div class="ui search item">
            <div class="ui icon input">
                <input class="prompt" type="text" placeholder="Search movies..." style="width:300px;">
                <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>


        <% if(!isLogin){ %>
            <div class="right menu">
                <div class="item">
                    <a class="ui inverted red button" href="/login">Log in</a>
                </div>
                <div class="item">
                    <a class="ui inverted red button" href="/register">Sign up</a>
                </div>
            </div>
        <% }else{ %>

            <div class="right menu">

                <div class="ui item inline dropdown inverted button">
                    <a class="ui inverted red button" >
                        My Profile
                        <i class="small dropdown icon" ></i>
                    </a>
                    <div class="menu">
                        <div class="item"><a style="color: inherit" href="/login">Homepage</a></div>
                        <div class="item">Likes</div>
                        <div class="item">Friends</div>
                    </div>
                </div>
                <!--<div class="item">-->
                    <!--<a class="ui inverted red button" href="/login">My Homepage</a>-->
                <!--</div>-->
                <div class="item">
                    <a class="ui inverted red button" href="/logout">Sign Out</a>
                </div>
            </div>
        <% } %>


    </div>
</div>


<!-- Sidebar Menu -->
<div class="ui sidebar inverted vertical menu">
    <a class="active item">Home</a>
    <a class="item">Movies</a>
    <a class="item">Genre</a>
    <div class="ui item inline dropdown">
        Rank
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item"><a style="color: inherit" href="/rank">All</a></div>
            <div class="item"><a style="color: inherit" href="/imdb">IMDB</a></div>
            <div class="item"><a style="color: inherit" href="/metacritic">Metacritic</a></div>
            <div class="item"><a style="color: inherit" href="/rotten_tomatoes">Rotten Tomatoes</a></div>
            <div class="item"><a style="color: inherit" href="/fandango">Fandango</a></div>
        </div>
    </div>
    <a class="item" href="/login">Log in</a>
    <a class="item" href="/register">Sign up</a>
</div>


<!-- Page Contents -->
<div id="mainpage" class="pusher">

    <div class="ui inverted vertical masthead segment">
        <div class="ui container">

            <div class="ui large secondary inverted pointing menu">


                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a class="active item">MovieBook</a>
                <a class="item">Movies</a>
                <a class="item">Genre</a>
                <div class="ui item inline dropdown">
                    Rank
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item"><a style="color: inherit" href="/rank">All</a></div>
                        <div class="item"><a style="color: inherit" href="/imdb">IMDB</a></div>
                        <div class="item"><a style="color: inherit" href="/metacritic">Metacritic</a></div>
                        <div class="item"><a style="color: inherit" href="/rotten_tomatoes">Rotten Tomatoes</a></div>
                        <div class="item"><a style="color: inherit" href="/fandango">Fandango</a></div>
                    </div>
                </div>

                <div class="search item">
                    <div class="ui icon input">
                        <input class="prompt" type="text" placeholder="Search movies..." style="width:400px;">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>


                <% if(!isLogin){ %>
                <div class="right item">
                    <a class="ui inverted button" href="/login">Log in</a>
                    <a class="ui inverted button" href="/register">Sign up</a>
                </div>
                <% }else{ %>
                <div class="right item">
                    <div class="ui inline dropdown inverted button">
                            My Profile
                            <i class="small dropdown icon" style="color: inherit"></i>
                        <div class="menu">
                            <div class="item"><a style="color: inherit" href="/login">Homepage</a></div>
                            <div class="item">Likes</div>
                            <div class="item">Friends</div>
                        </div>
                    </div>
                    <a class="ui inverted button" href="/logout">Sign Out</a>
                </div>
                <% } %>

            </div>
        </div>

        <div class="ui center aligned text container">
            <h1 class="ui inverted header">
                <img src="https://static1.squarespace.com/static/58e7ac565016e1384d799887/t/58e7acb9725e255284fd0dbf/1511366743027/?format=1500w">
                MovieBook
            </h1>
            <h2 id="welcome-message">Hi <%= username %>~</h2>
            <a href="/#start" class="ui huge inverted basic button">Get Started <i class="right down arrow icon"></i></a>
            <a href="/search" class="ui huge inverted basic button">Search Movie <i class="right search icon"></i></a>
        </div>

    </div>





    <div id="start" class="ui vertical stripe segment">

        <div  class="center aligned row">
            <h1 class="ui horizontal header divider">

                <a href="#" style="color: #011d37;"><i class="bar chart icon"></i>Recommendation For You</a>
            </h1>
        </div>
        <div class="ui middle aligned stackable grid container" style="width: 1127px + 20em">
            <div class="row">
                <div class="eight wide float-left column" style="padding-left: 10%">

                    <% if(!isLogin){ %>

                    <div id="rec-top" class="ui inverted segment">
                        <div class="align-top" style="padding-bottom: 10%">
                            <h1 class="ui align-top header" style="color: gold"><i class="massive trophy icon" ></i>Top Rated </h1>
                        </div>
                        <p>
                            <% for(var i = 0; i < movies.length; i++){ %>
                        <h2 class="ui header" style="color: #011d37"><strong><%= i+1 %>. <%= movies[i]["title"].replace(/[ÂÃ]/g, "").replace(/\?[\W]/g, "") %>
                                <a class="right aligned" href="/rank" style="font-size: large; ">Rate: <%= movies[i]["avg_rate"].toString().substring(0, 4) %>/10.00</a> </strong></h2>
                        <div class="ui inverted divider"></div>
                        <% } %>
                        </p>

                    </div>
                    <div>

                    </div>
                    <% }else{ %>
                    <div class="align-top" style="padding-bottom: 10%">
                        <h1 class="ui align-top header">Guess You Like</h1>
                    </div>
                    <div>
                        <h2>1. xxxxxxxxxx</h2>
                        <h2>2. xxxxxxxxxx</h2>
                        <h2>3. xxxxxxxxxx</h2>
                    </div>
                    <% } %>


                </div>
                <div class="eight wide float-right column" style="padding-left: 10%">
                    <% if(!isLogin){ %>

                    <div id="rec-top" class="ui inverted segment">
                        <div class="align-top" style="padding-bottom: 10%">
                            <h1 class="ui align-top header" style="color: hotpink"><i class="large heart icon" ></i>Most Liked </h1>
                        </div>
                        <p>
                            <% for(var i = 0; i < movies.length; i++){ %>
                        <h2 class="ui header" style="color: #011d37"><strong><%= i+1 %>. <%= movies[i]["title"].replace(/[ÂÃ]/g, "").replace(/\?[\W]/g, "") %>
                                <a class="right aligned" href="/rank" style="font-size: large; ">Rate: <%= movies[i]["avg_rate"].toString().substring(0, 4) %>/10.00</a> </strong></h2>
                        <div class="ui inverted divider"></div>
                        <% } %>
                        </p>

                    </div>
                    <div>

                    </div>
                    <% }else{ %>
                    <div class="align-top" style="padding-bottom: 10%">
                        <h1 class="ui align-top header">Guess You Like</h1>
                    </div>
                    <div>
                        <h2>1. xxxxxxxxxx</h2>
                        <h2>2. xxxxxxxxxx</h2>
                        <h2>3. xxxxxxxxxx</h2>
                    </div>
                    <% } %>                </div>
            </div>
            <div class="row">
                <div id="sym" class="center aligned column">
                    <a class="ui huge button">Search Your Movie</a>
                </div>
            </div>
        </div>
    </div>

    <div class="ui container vertical stripe quote segment">
        <div  class="center aligned row">
            <h1 class="ui horizontal header divider">
                <a href="#" style="color: #011d37;"><i class="bar chart icon"></i>Top Charts</a>
            </h1>
        </div>
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                    <div style="position: relative;" class="column">
                        <a href="/imdb">
                        <!--<img id="IMDb" src="http://static.wixstatic.com/media/8f068a_5c1ba6d94c9f40ee88930cceeaa3a9f2.png">-->
                            <img height="100" width="30%" src="http://pop-verse.com/wp-content/uploads/2013/04/IMDb.png">
                        </a>
                    </div>
                <div style="position: relative;" class="column">
                    <!-- Metacritic -->
                    <a href="/metacritic">
                        <img height="80" width="350" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Metacritic_logo.svg/2000px-Metacritic_logo.svg.png">
                    </a>
                </div>
            </div>
            <div class="center aligned row">
                <div style="position: relative;" class="column">
                    <a href="rotten_tomatoes">
                        <img height="140" width="35%" src="http://www.userlogos.org/files/logos/jumpordie/rottentomatoes_01.png">
                    </a>
                </div>
                <div style="position: relative;" class="column">
                    <!-- Fandango Stars -->
                    <!--<h3>Fandango Stars</h3>-->
                    <a href="/fandango">
                        <img height="105" width="40%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Fandango_2014.svg/1200px-Fandango_2014.svg.png">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui text container">
            <h3 class="ui header">Breaking The Grid, Grabs Your Attention</h3>
            <p>Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.</p>
            <a class="ui large button">Read More</a>
            <h4 class="ui horizontal header divider">
                <a href="#">Case Studies</a>
            </h4>
            <h3 class="ui header">Did We Tell You About Our Bananas?</h3>
            <p>Yes I know you probably disregarded the earlier boasts as non-sequitur filler content, but its really true. It took years of gene splicing and combinatory DNA research, but our bananas can really dance.</p>
            <a class="ui large button">I'm Still Quite Interested</a>
        </div>
    </div>


    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">About</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Sitemap</a>
                        <a href="#" class="item">Contact Us</a>
                        <a href="#" class="item">Religious Ceremonies</a>
                        <a href="#" class="item">Gazebo Plans</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Services</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Banana Pre-Order</a>
                        <a href="#" class="item">DNA FAQ</a>
                        <a href="#" class="item">How To Access</a>
                        <a href="#" class="item">Favorite X-Men</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Footer Header</h4>
                    <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
                </div>
            </div>
        </div>
    </div>
</div>



</body>
</html>