<html>

<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/app.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js"></script>

</head>

<body>

<div class="para">
    <img width="300" height="200"  src="<%= movie["Poster"] %>">
    <p> <strong>Name: </strong> <%= movie["Title"] %> </p>
    <p> <strong>Year: </strong> <%= movie["Year"] %> </p>
    <p> <strong>Rated: </strong> <%= movie["Rated"] %> </p>
    <p> <strong>Released Time: </strong> <%= movie["Released"] %> </p>
    <p> <strong>Runtime: </strong> <%= movie["Runtime"] %> </p>
    <p> <strong>Genre: </strong> <%= movie["Genre"] %> </p>
    <p> <strong>Director: </strong> <%= movie["Director"] %> </p>
    <p> <strong>Actors: </strong> <%= movie["Actors"] %> </p>
    <p> <strong>Country: </strong> <%= movie["Country"] %> </p>
    <p> <strong>Language: </strong> <%= movie["Language"] %> </p>
    <p> <strong>Awards: </strong> <%= movie["Awards"] %> </p>
    <p> <strong>imdbRating: </strong> <%= movie["imdbRating"] %> </p>

    <p> <strong>Plot Description: </strong> <%= movie["Plot"] %> </p>
    <p> <strong>IMDBiD: </strong> <%= movie["imdbID"] %> </p>
    <strong>Reviews:</strong>

    <% if(reviews[0] === undefined) { %>
        <p>No reviews currently</p>
    <% } else { %>
        <% reviews[0]["review"].split('.,').forEach(function (comment) { %>
            <p> <%= comment.split("<br /><br />").join("\n"); %> <p>
        <% }) %>
    <% } %>



        <div class="row">
            <form action="/movie/<%= id %>/comment" method="post">
                <div class="ui form left">
                    <div class="field" style="width: 35%; padding-left: 1%">
                        <label>Title</label>
                        <input type="text" placeholder="First Name">
                    </div>
                    <div class="field" style="width: 35%; padding-left: 1%">
                        <label>Your Review:</label>
                        <textarea name="comment[content]" placeholder="content" type="text"></textarea>
                    </div>
                    <div class="form-group" style="padding-left: 1%">
                        <button class="ui button primary" >Submit</button>
                    </div>
                </div>

            </form>
        </div>
    
    <p><a href="/">Back to home</a></p>

</div>
</body>
</html>