<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>MovieBook</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"><!-- load fontawesome -->
    <link rel="stylesheet" href="../../stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../../stylesheets/style.css">
    <style>
        body { padding-top: 80px; }

        .review > div {
            display: inline-block;
        }

        .para {
            text-align: left;
            margin-left: 120px;
        }

        a > button {
            margin-left: 20px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">

        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">MovieBook</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/"> Movies <span class="sr-only">(current)</span></a></li>
                    <li><a href="/artists"> Artists </a></li>
                    <li><a href="/reviews"> Reviews </a></li>
                    <li><a href="/action"> Genre </a></li>
                    <li><a href="/rank"> Rank </a></li>
                </ul>
                <form action='/result' method="post" class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" size="30" placeholder="Search movies or people here" name="searchContent">
                    </div>
                    <select name="searchType" size="1">
                        <option value="title" selected> title </option>
                        <option value="actors"> actors </option>
                        <option value="country"> country </option>
                        <option value="year"> year </option>
                        <option value="genres"> genres </option>
                    </select>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
                <form action='/apisearch' method="post" class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" size="30" placeholder="Search movie details" name="searchContent">
                    </div>
                    <select name="searchType" size="1">
                        <option value="title" selected> title </option>
                        <option value="actors"> actors </option>
                        <option value="country"> country </option>
                        <option value="year"> year </option>
                        <option value="genres"> genres </option>
                    </select>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>


            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

<!--==================================================================================================================-->

<!-- Reviews: every div shows one review tuple -->
<% for(var i = 0; i < movies.length; i++){ %>
<div class="container">
    <div class="well">

        <div class="review">
            <!--Name(title), Year(title_year), Duration(duration), Genre(genres), Actors(actor_1_name, -->
            <!--actor_2_name, actor_3_name), Country(country), Ratings, IMDB(movie_imdb_link)-->

            <div class="para">
                <p> <strong>Name: </strong> <%= movies[i]["title"].replace(/[ÂÃ]/g, "").replace(/\?[\W]/g, "") %> </p>
                <p> <strong>Year: </strong> <%= movies[i]["title_year"] %> </p>
                <p> <strong>Duration: </strong> <%= movies[i]["duration"] %> min </p>
                <p> <strong>Genre: </strong> <%= movies[i]["genres"] %> </p>
                <p> <strong>Actors: </strong> <%= movies[i]["actor_1_name"].replace("?", "e") %>, <%= movies[i]["actor_2_name"].replace("?", "e") %>, <%= movies[i]["actor_3_name"].replace("?", "e") %> </p>
                <p> <strong>Country: </strong> <%= movies[i]["country"] %> </p>
                <p> <strong>Ratings: </strong> <%= movies[i][""] %> </p>
                <p> <li> IMDB: <%= movies[i]["IMDB"] %>/10.0 </li> </p>
                <p> <li> Metacritic: <%= movies[i]["Metacritic"] %>/100 </li> </p>
                <p> <li> Rotten Tomatoes: <%= movies[i]["RottenTomatoes"] %>% </li> </p>
                <p> <li> Fandango: <%= movies[i]["Fandango_Stars"] %>/5.0 </li> </p>
                <p> <strong>IMDB Link: </strong>
                    <<a href=<%= movies[i]["movie_imdb_link"] %> > click here to see more </a>>
                </p>
            </div>
        </div>
    </div>
</div>
<% } %>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery.js"></script>
<script src="../../js/bootstrap.js"></script>
</body>
</html>