<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>MovieBook</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/app.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js"></script>


</head>
<body style="padding-top: 0px">

<!--========================================================= head ========================================================-->
<div id="mainpage" class="pusher">

    <div id="child" class="ui inverted vertical masthead segment" style="background-image: url("../../images/resultbackground.jpeg")">
    <div class="ui container">

        <div class="ui large secondary inverted pointing menu">


            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>
            <a class="active item" href="/">MovieBook</a>
            <a class="item">Movies</a>
            <div class="ui item inline dropdown">
                Genre
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item"><a style="color: inherit" href="/action">Action</a></div>
                    <div class="item"><a style="color: inherit" href="/comedy">Comedy</a></div>
                    <div class="item"><a style="color: inherit" href="/drama">Drama</a></div>
                    <div class="item"><a style="color: inherit" href="/thriller">Thriller</a></div>
                    <div class="item"><a style="color: inherit" href="/crime">Crime</a></div>
                    <div class="item"><a style="color: inherit" href="/horror">Horror</a></div>
                    <div class="item"><a style="color: inherit" href="/romance">Romance</a></div>
                    <div class="item"><a style="color: inherit" href="/documentary">Documentary</a></div>
                </div>
            </div>
            <div class="ui item inline dropdown">
                Rank
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item"><a style="color: inherit" href="/rank">All</a></div>
                    <div class="item"><a style="color: inherit" href="/imdb">IMDB</a></div>
                    <div class="item"><a style="color: inherit" href="/metacritic">Metacritic</a></div>
                    <div class="item"><a style="color: inherit" href="/rotten_tomatoes">Rotten Tomatoes</a></div>
                    <div class="item"><a style="color: inherit" href="/fandango">Fandango</a></div>
                </div>
            </div>




            <%if(!isLogin){%>
            <div class="right item">
                <a class="ui inverted button" href="/login">Log in</a>
                <a class="ui inverted button" href="/register">Sign up</a>
            </div>
            <%}else{%>
            <div class="right item">
                <div class="ui inline dropdown inverted button">
                    My Profile
                    <i class="small dropdown icon" style="color: inherit"></i>
                    <div class="menu">
                        <div class="item"><a style="color: inherit" href="/userpage/<%= userId %>">Homepage</a></div>
                        <div class="item">Likes</div>
                        <div class="item">Friends</div>
                    </div>
                </div>
                <a class="ui inverted button" href="/logout">Sign Out</a>
            </div>
            <% } %>

        </div>
    </div>

    <div class="ui center aligned text container" >
        <h1 class="ui inverted header" style="font-weight: bold; margin-bottom: 10%; margin-top: 10%">
            <img src="https://static1.squarespace.com/static/58e7ac565016e1384d799887/t/58e7acb9725e255284fd0dbf/1511366743027/?format=1500w" style="background: transparent;">
            MovieBook
        </h1>
    </div>


    <div class="row" style="text-align: center; padding-left: 14.5%">
        <div class="ui grid" style="position: absolute; bottom: 15px;">
            <div class="center ui menu" style=" background-color: transparent;">
                <form action='/result' method="post" class="ui item form" role="search">
                    <div class="ui item">
                        <input type="text" class="ui form"   style="width: 300px" placeholder="Database Search" name="searchContent">
                    </div>
                    <select class="override inverted ui dropdown" name="searchType" style="width: 50px" >
                        <option value="title" selected> title </option>
                        <option value="actors"> actors </option>
                        <option value="country"> country </option>
                        <option value="year"> year </option>
                        <option value="genres"> genres </option>
                    </select>
                    <button class="ui inverted item button" type="submit">
                        <i class="large search icon inverted"></i>
                    </button>
                </form>
                <form action='/apisearch' method="post" class="ui item form" style="padding-left: 70px" role="search">
                    <div class="ui item">
                        <input type="text" class="ui form" style="width: 300px" placeholder="API Search" name="searchContent">
                    </div>
                    <select class="override inverted ui dropdown" name="searchType" style="width: 50px">
                        <option value="title" selected> title </option>
                        <option value="id"> id </option>
                    </select>
                    <button class="ui inverted item button" type="submit">
                        <i class="large search icon inverted"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>





<!--==================================================================================================================-->

<div class="two column" style="margin-top: 75px; margin-bottom: 75px">
    <div class="ui container segment" style= "background-color: rgba(203,208,161,0.21);"                                        ">
    <h1 style="text-align: center; letter-spacing: 1px; font-style: oblique; font-feature-settings: on; color: #022a50" class="ui header">
        Less searching. More finding.<br>
        <small>
            Discover excellent movies that rank high in various rank lists.
        </small>
    </h1>
</div>
</div>



<div class="center aligned row" style="margin-bottom: 40px">
    <h1 class="ui horizontal header divider">
        <a href="#" style="color: #011d37;"><i class="bar chart icon"></i>Top Charts</a>
    </h1>
</div>

<div class="ui two column grid" style="margin-left: 15%; margin-right: 15%">
    <div class="five wide column middle aligned " style="text-align: center">
        <div class="ui segment" style=" height:100%; width:100%">
            <a href="/rank">
                <img  src="http://www.shejiye.com/uploadfile/icon/2017/0203/shejiyeiconehw5v1s4pec.png">
            </a>
        </div>
    </div>
    <div class="ten wide column">
        <div class="ui two column middle aligned grid">
            <div class="column" style="text-align: center; height: 50%; vertical-align: middle; border: rgba(39,39,39,0.55)">
                <a href="/imdb">
                    <img height="60%" width="60%" src="http://pop-verse.com/wp-content/uploads/2013/04/IMDb.png">
                </a>
            </div>
            <div class="column" style="text-align: center; height: 50%; vertical-align: middle">
                <a href="/metacritic">
                    <img height="70%" width="70%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Metacritic_logo.svg/2000px-Metacritic_logo.svg.png">
                </a>
            </div>
            <div class="column" style="text-align: center; height: 50%; vertical-align: middle">
                <a href="/rotten_tomatoes">
                    <img height="60%" width="60%" src="http://www.userlogos.org/files/logos/jumpordie/rottentomatoes_01.png">
                </a>
            </div>
            <div class="column" style="text-align: center; height: 50%; vertical-align: middle">
                <a href="/fandango">
                    <img height="56%" width="56%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Fandango_2014.svg/1200px-Fandango_2014.svg.png">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="two column" style="margin-top: 70px; margin-bottom: 70px">
    <div class="ui container align-middle segment" style="   background-color: rgba(203,208,161,0.21);">
        <h1 style="text-align: center; letter-spacing: 1px; font-style: oblique; font-feature-settings: on; color: #022a50" class="ui header">
            RANK LIST<br>
        </h1>
    </div>
</div>

<div class="ui grid center" style="padding-left: 16.5%; padding-right: 12%; margin-top: 50px">
    <!-- Reviews: every div shows one review tuple -->
    <% for(var i = 0; i < movies.length; i++){ %>
    <div class="ui five wide column">
        <div class="container">
            <div class="ui card" style="height: 17em">
                <div id="rate" class="content">
                    <div class="header" style="text-align: center">
                        No.<%=i+1%>  <a href="/movie/<%=movies[i]["id"]%>"><%=movies[i]["title"].replace(/[ÂÃ]/g, "").replace(/\?[\W]/g, "") %></a>
                    </div>
                    <div class="description" style="text-align: justify;">
                        <li> <strong>Year: </strong> <%= movies[i]["title_year"] %> </li>
                        <li> <strong>Duration: </strong> <%= movies[i]["duration"] %> min </li>
                        <!--<li> <strong>Genre: </strong> <%= movies[i]["genres"] %> </li>-->
                        <p>
                        <li> <strong>Actors:</strong>
                            <%= movies[i]["actor_1_name"].replace("?", "e") %>, <%= movies[i]["actor_2_name"].replace("?", "e") %>, <%= movies[i]["actor_3_name"].replace("?", "e") %> </li>
                        </p>
                        <li> <strong>Country: </strong> <%= movies[i]["country"] %> </li>
                        <li> <strong>Rotten Tomatoes: </strong> <%= movies[i]["RottenTomatoes"] %>% </li>
                    </div>
                </div>
                <div id="rate" class="ui two bottom attached buttons">
                    <div class="ui button" >
                        <i class="film icon"></i>
                        <a href=<%= movies[i]["movie_imdb_link"] %>>IMDB</a>
                    </div>
                    <div class="ui primary button" >
                        <i class="play icon"></i>
                        <a href="/movie/<%=movies[i]["id"]%>" style="color: white">Detials</a>
                    </div>
                </div>

                <div class="ui popup">
                    <div class="header">Rate: <%= movies[i]["RottenTomatoes"] %>% </div>
                    <div class="ui star rating" data-rating="<%= Math.round(movies[i]["RottenTomatoes"]/100*5) %>"></div>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>



<script>
    $('.activating.element')
        .popup()
    ;

    $('#rate.content')
        .popup({
            inline: true
        })
    ;

    $('#rate.image')
        .popup({
            inline: true
        })
    ;

    $('#rate.ui.two.bottom.attached.buttons')
        .popup({
            inline: true
        })
    ;


    $('.ui.rating')
        .rating({
            maxRating: 5
        })
    ;

    $('.ui.dropdown')
        .dropdown();
</script>
</body>
</html>




